<section>
  <mat-list>
    <div *ngFor="let person of people">
      <mat-list-item class="mat-whiteframe-2dp mat-card">
      <img mat-list-avatar src="{{ person.photo }}">
      <h1 matLine> {{person.titre}}</h1>
      <h3 matLine> {{person.nom}} {{person.prenom}} </h3>
      <h3 matLine> {{person.age}} ans</h3>
      <p matLine>
        <span>{{person.email}} </span>
      </p>
      <div class="buttons-info">
        <a mat-button title="view" [routerLink]="['/person', person.id]" >
          <mat-icon svgIcon="icon-view"></mat-icon>
        </a>
        <a mat-button title="Edit" [routerLink]="['/edit', person.id]">
          <mat-icon svgIcon="icon-edit"></mat-icon>
        </a>
        <button mat-button title="Delete" (click)="delete(person)">
          <mat-icon svgIcon="icon-delete"></mat-icon>
        </button>
      </div>
      </mat-list-item>
    </div>


  </mat-list>
</section>

  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <i class="material-icons">add</i>
  </button>
